

<div class="users">

  <% if(user){%>

    <span><%=user.name%>     已登录</span>

    <a href="/users/logout">退出</a>
    <a href="/config">设置</a>

  <%}else{%>

    <a href="/users">登录</a>
    <a href="/users/reg">注册</a>
  <%}%>

</div>

<!-- <hr> -->
