<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />


  </head>
  <body>


    <%- include('header') %>


    <hr>

    <h1>我的主页</h1>

    <section style="margin-top:100px;margin-left:100px">

      <div class="box">
        <a href="/product">产品</a>
      </div>
      <div class="box">
        <a href="/message">留言</a>
      </div>
      <div class="box">
        <a href="/article">文章</a>
      </div>
      <div class="box">
        <a href="/chat">聊天室</a>
      </div>
    </section>




  </body>
</html>
